/*****************************\
  Minecraft Forge France V4.0
		Node BB Theme CSS       
\*****************************/

@import 'mff/ubuntu-font';

// Banner
#banner {
    background-image: url(/assets/plugins/@minecraftforgefrance/nodebb-theme-mff/images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-origin: content-box;
    width: 100%;
    position: relative;
    left: auto;
    right: 0;
}

// make the forum larger on desktop
@media (min-width: 1600px) {
    .container-lg {
        max-width: 70.00%;
    }
}

@import 'mff/navbar';
@import 'mff/footer';
@import 'mff/section';
@import 'mff/topic';
@import 'mff/category';
@import 'mff/categories';
@import 'mff/buttons';
@import 'mff/attached-icons';
@import 'mff/dark-skin';
